<div class="row">
    <div class="col-lg-2"></div>
    <div class="text-center col-lg-8">
        <h1>Tic Tac Toe</h1>
        <h1>{{oponentTurn==true?"Oponent Turn":"My turn"}}</h1>
        <div >
            <div class="row" *ngFor="let rowval of board; let row=index">
                <div class="d-flex">
                    <div *ngFor="let colval of rowval;let col=index" class="w-100 h-100">
                        <app-board-cell (makeMove)="makeMove(row,col)" [roundedButton]="false" [col]="col"[row]="row" [value]="colval"></app-board-cell>
                    </div>
                </div>  
            </div>
        </div>
        <h1 *ngIf="gameEnded()">Game Ended</h1>
        <h1 *ngIf="gameEnded()">Winner: {{getWinner()}}</h1>
        <button (click)="clearButtonClick()" class="w-50 mt-3 btn btn-secondary" ><span class="display-6">New Game</span> </button>    
        <br>
        <a *ngIf="roomId" class="btn btn-secondary mt-2" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Show Room Id</a>
        <div *ngIf="roomId" class="col">
            <div class="collapse multi-collapse bg-dark" id="multiCollapseExample1">
            <div class="card card-body bg-dark text-light">
                {{roomId}}
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
