<nav class="navbar navbar-dark p-0">
  <div class="d-flex align-items-center justify-content-between contents">
    <a class="navbar-brand" routerLink="/home">Online Games</a>
    <div class="wrapper">
      <div routerLink="/users/profile" *ngIf="isLoged() && user" class="d-flex align-items-center profile justify-content-between pointer">
        <h5 class="mb-0">{{user.username}}</h5>
        <img *ngIf="user.imgUrl" src="{{user.imgUrl}}" alt="">
        <img *ngIf="!user.imgUrl" src="../../../assets/resources/profilepic.png" alt="">
      </div>
    </div>
    <div *ngIf="!isLoged()" class="d-flex not-loged-in align-items-center">
      <a class="nav-link text-white" routerLink="/identity/login">Login</a>
      <a class="nav-link text-white" routerLink="/identity/register">Register</a>
    </div>
  </div>
</nav>