<div class="dark-bg text-center rooms-panel">
    <div class="d-flex justify-content-evenly p-1">
        <h3>Rooms</h3>
        <button class="btn btn-secondary py-0 px-1" (click)="refreshRooms()">Refresh</button>
    </div>
    <hr>
    <ul  class="list-group list-group-flush overflow-auto dark-bg">
        <li *ngFor="let room of rooms" class="list-group-item text-white dark-bg">
            <div class="d-flex justify-content-between dark-bg">
                <a>{{room['userName']}}</a>
                <a >{{room['gameName']}}</a>
                <a>{{room['players']}}/{{room['capacity']}}</a>
                <button (click)="joinRoom(room['roomId'],room['first'],room['gameName'])" class="btn btn-secondary" >Join</button>    
            </div>  
        </li>
        <button *ngIf="rooms?.length!=0 && game!=null" class="btn btn-secondary" (click)="loadRooms()">LoadMore</button>
        <h5 *ngIf="rooms?.length==0">No Rooms</h5>
    </ul>
</div>
