<div class="row">
    <div class="col-lg-2">
        <app-friend-list (setRoomNameEventEmmiter)="setRoomId($event)" ></app-friend-list>       
    </div>
    <div *ngIf="groupName" class="col-lg-8" >
        <div  class="d-flex">
            <div  [routerLink]="['/users/profile/']" [queryParams]="{name: groupName}" class="mx-auto pointer" ><h3 >{{groupName}}</h3></div>
        </div>
        <app-chat  [roomId]="groupId" [isFriend]="true" ></app-chat>
    </div>
    <div class="col-lg-2"></div>
</div>