<div class="chat">
    <div *ngFor="let message of messages">   
        <h4>
            {{message.userName}}
            <small class="text-muted">{{message.postedOn}}</small>
        </h4>
        <p>{{message.contents}}</p>
    </div>
</div>
<div>
    <form action="" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <input #messageField formControlName="contents" type="text" class="w-100 text-input" name="" id="">
        <input type="submit" class="btn btn-primary" name="" id="">
    </form>
</div>
