<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="grid-container">   
            <div routerLink="/home/games" class="games grid-item">Games</div>
            <div routerLink="/home/rooms" class="rooms grid-item">Rooms</div>
            <div routerLink="/users/profile" class="profile grid-item">Profile</div>
            <div routerLink="/users/friends" class="friends grid-item">Friends</div>
            <div class="notifications grid-item">Notifications</div>
            <div class="settings grid-item">Settings</div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>