.exit{
    background-color: rgb(43,47,51);
    text-align: right;
    width: 30%;
    padding: 1%;
    padding-right: 3%;
    border:2px solid #383636;
    border-left: 0px;
    border-radius: 4px;
    transition: width 0.3s;
}
.exit:hover{
    width: 40%;
}